*{
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    letter-spacing: 1px;
    font-style: italic;
    background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h1{
    font-size: 64px;
    transition: font-size 0.5s linear;
    z-index: 9999;
}

h2{
    font-size: 25px;
    margin-bottom: 10px;
    z-index: 9999;
}

.social-icons i{
    font-size: 32px;
    color: #000;
    transition: all 0.2s linear;
    z-index: 9999;
}
.social-icons i:hover{
    color: #fff;
    font-size: 40px;
}

h1:hover{
    font-size: 84px;
}

.fade{
    opacity: 0;
}

#particles-js{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}